@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');

.carrito {
    color:#3e2d4b;
    font-size: 15px;
    font-family: "Belleza";
    text-decoration: none;
}
.carrito:hover {
    transform: scale(1);
    font-weight: bolder;
}

.linkCarrito {
    text-decoration: none;
}