@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');

.carrito {
    color:#C3ACE9;
    font-size: 15px;
    font-family: "Belleza";
    text-decoration: none;
}
.linkCarrito:hover {
    transform: scale(1.5);
    font-weight: bolder;
    color: #C3ACE9;;
}

.linkCarrito {
    text-decoration: none;
    color:#C3ACE9;
    font-size: 1.5em;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.linkCarrito-hidden {
    visibility: hidden;
    opacity: 0;
}