@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');


.vendidoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    

}
.prodCard {
    margin: auto;
    padding: 15px 15px;
    padding-bottom: 10em;
    padding-top: 4em;

}
.imgVendidos {
    width: 20em;
}
h1 {
    font-family: "Belleza";
    text-align: center;
    margin: auto;
    padding: 50px 20px;
    color: azure;
    padding-top: 4em;
}
h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 10px;
    color: azure;
    font-family: "Belleza";
    font-weight: 600;
    letter-spacing: 0.15cm;
}

h6 {
    color: #B2A8B8;
   
}

.precioProd {
    font-size: 1.5em;
    text-align: center;
    font-style: bolder;
    font-family: "Belleza";
    color: azure;
    font-weight: 600;
    letter-spacing: 0.015cm;
}

.btnShop {
    display: flex;
    justify-content: center;
    color: azure;
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    text-decoration:none;
    font-size: 1.2em;
    margin: 1em;
    font-family: "Belleza";
}

.btnShop:hover {
    text-decoration:none;
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    color: black;
    cursor: pointer;
}