.card {
    margin: 1.7em auto;
    border: #4f4b51;
}
.card-body {
    background-color: #B2A8B8;}
.card-Title {
    font-family: "Belleza";
    font-size: 2em;
    text-align: center;
    color: azure;}

.card-Precio {
    font-family: "Belleza";
    font-size: 1.7em;
    text-align: center;
    color: azure;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;}

.btnItem {
    width: 7em;
    margin: 10px 10px;
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    font-size: 1.2em; }

.btnItem:hover {
    color: black;
    background-color: #D4DA5A;
    border-color: #D4DA5A;}

.contBoton {
    display: flex;
    justify-content: center;
    text-decoration:none;}