.card {
    margin: 1.7em auto;
    border: #4f4b51;
}
.card-body {
    background-color: #B2A8B8;
}
.card-Title {
    font-family: "Belleza";
    font-size: 2em;
    text-align: center;
    color: azure;

}

.cardText {
    font-family: "Belleza";
    font-size: 1.3em;
    text-align: center;
    color: azure;

}

.card-Precio {
    font-family: "Belleza";
    font-size: 1.7em;
    text-align: center;
    color: azure;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;

}

.btnVolver {
    font-family: "Belleza";
    background-color: #D3AFEA;
    border-color: #D3AFEA;
    width: 6em;

}
.bg-geri {
    width: 7em;
    margin: 10px 10px;
   
    font-size: 1.2em;
    
}

.contBoton {
    display: flex;
    justify-content: center;
    color: #D3AFEA;
    text-decoration:none;
}