@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

.imgCart {
    width: 11.5em;
}

.divContCart {
    background-color: #eae8e8;
    margin: 1em 1em;
    padding: 2em;
   
}

.contBtns {
    align-items: center;
    margin: auto;
    padding: 1.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.btnVolver {
    margin: 15px;
    padding: 10px 10px;
}

.vaciarCarrito {
    font-family: "Belleza";
    padding: 0.6em;
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    font-size: 1.2em;
}
.vaciarCarrito:hover {
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    color: black;
}

.btnSeguir {
    padding: 0.6em;
    font-size: 1.2em;
}

.iniciarCompra {
    font-family: "Belleza";
    padding: 0.6em;
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    font-size: 1.2em;
    width: 56em;
    font-weight: 600;
    letter-spacing: 0.1cm;
}
.iniciarCompra:hover {
    font-family: "Belleza";
    background-color: #D4DA5A;
    border-color: #D4DA5A;
    color: rgb(43, 41, 41);
}

.carContainer {
    background-color: #eae8e8;
}

.title, .total {
    font-family: "Belleza";
   color: #4C4352;
   padding: 1em;
}