@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');

.header {
    background-color: #3e2d4b;
   
}
.headerLogo {
    color: whitesmoke;
    font-family: "Roboto flex";
}
.divContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 20px 0;
}

.headerNav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.navLink {
    color: whitesmoke;
    font-family: 'Roboto Flex', sans-serif;
}
