@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');


.botones-cantidad {
    display: flex;
    font-family: "Belleza";
    justify-content: center;

}
.btn-primary {
    color: azure;
    background-color: #D3AFEA;
    border-color: #D3AFEA;
    font-family: "Belleza";

}
.btn-primary:hover {
  background-color: #ebd7fb;
  border-color: #ebd7fb;
}
.contador {
    margin: 12px 12px;
    font-family: "Belleza";

}
