@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');


.botones-cantidad {
    display: flex;
    font-family: "Belleza";
    justify-content: center;

}
.btnCount {
    color: azure;
    background-color: #C3ACE9;
    border-color: #C3ACE9;
    font-family: "Belleza";
    font-size: 1.3em;

}
.btnCount:hover {
  background-color: #C3ACE9;
  border-color: #C3ACE9;
  color: black;
}
.contador {
    margin: 12px 12px;
    font-family: "Belleza";

}
