
.botones-cantidad {
    display: flex;
}
.btn-primary {
    color: azure;
    background-color: #3e2d4b;
    border-color: #3e2d4b;
}
.btn-primary:hover {
  background-color: #ebd7fb;
  border-color: #ebd7fb;
}
.contador {
    margin: 12px 12px;
}
